AZURE_OPENAI_ENDPOINT=https://YOUR-RESOURCE.openai.azure.com
AZURE_OPENAI_API_KEY=REPLACE_WITH_YOUR_KEY

AZURE_EMBEDDING_DEPLOYMENT=<EMBEDDING_MODEL_NAME>
AZURE_CHAT_DEPLOYMENT=<CHAT_MODEL_NAME>

AZURE_STORAGE_CONNECTION_STRING=REPLACE_WITH_CONNECTION_STRING
AZURE_STORAGE_CONTAINER=<CONTAINERNAME>
